@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me!</h1>

<div>
    <p>Today is your lucky day! You may have the opportunity to date this awesomeness</p>
</div>

<img src="~/img/swag.jpg" height="500" />
<br />

<div>
    <a asp-controller="Home" asp-action="FillOutApplication">Fill Out Application</a>
</div>